{
    "env": {
        "es2020": true,
        "browser": true
    },
    "extends": [
        "eslint:recommended",
        "airbnb",
        "airbnb/hooks",
        "plugin:prettier/recommended",
        "prettier/react"
    ],
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "sourceType": "module"
    },
    "plugins": ["prettier"],
    "rules": {
        "linebreak-style": ["error", "unix"],
        "prettier/prettier": "error",
        "no-unused-vars": "warn",
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
        "import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
        "no-console": "off"
    },
    "settings": {
        "react": {
            "version": "detect"
        }
    }
}