[MASTER]
load-plugins=pylint_django

[MESSAGES CONTROL]
disable=wildcard-import,
        unused-wildcard-import,
        missing-module-docstring,
        attribute-defined-outside-init
good-names=id,
           i,
           n

[FORMAT]
max-line-length=120